body {
    margin: 0;
    padding: 0;
    background-image: url(phon.jpg);
    display: flex;
}
main {
    width: 100vw;
    height: 100vh;
}
.center {
    background-image: url(back.jpg);
}
.center button {
    width: 500px;
    height: 100px;
}
form div {
    margin-bottom: 20px;
}
